:root{
    --main-color:#589F43 ;
    --secondary-color:#072340;    ;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#888;
    --light-bg:#eee;
    --border:1rem solid rgba(0,0,0,.2);
    --red:#d35000;
}

*{

    font-family: "Cairo", serif;   
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}

*::selection{
    background-color: var(--main-color);
    color: #fff;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top: .8rem;
}


 body {

    height: 100%;
    margin: 0;
    padding-top: 65px;
    overflow-x: hidden;
    overflow: auto; /* لتمكين التمرير عند الحاجة */
   
}

/*** header starts ***/

header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 65px;
}

.header .flex .navbar {
    display:flex;
    gap: 2.5rem;
}


.header .flex .logo{
    font-size: 6rem;
    color: var(--main-color);
    font-weight: bolder;
    margin-right: 2rem;
}



.header .flex .logo img{
    width: 7rem;
    margin-top:2.5rem;   
    margin-right: 1rem;
}

.header .flex .navbar a{
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
     cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 1rem;
}

 .header .flex .navbar a:hover{
    background-color: var(--main-color);
    color: var(--white);
    transition: background-color .8s ease-in-out;
 }

.header .navbar {
    display: flex;
    gap: 2.5rem;
}




/*****header ends*******/



/***student & parent login section ends**/

 .menu-icon {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: var(--black);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/back.png') no-repeat center center;
    background-size: cover;
    height: 100%;

}
.login .container {
    display: flex;
    width: 80%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 5.5rem;
    border: none;
}

.login .container .left-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.login .container .left-section .image-container {
    display: flex;
    bottom: 0;
}

.login .container .left-section .image-container .student-img {
    width:28rem;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-left: 16rem;
}


.login .container .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    height: 33rem;
    width: 5rem;
    margin-right: 20rem;
}
.login .container .right-section .login-box {
    text-align: center;
    width: 100%;
}

.login .container .right-section .login-box p {
    margin-top: 1rem;
}

.login .container .right-section .login-box h2{
    color: var(--main-color);
    font-size: 2rem;
    margin-top: 1rem;

}

.login .container .right-section .login-box .input-box {
    padding: 7px;
    margin: 10px 0;
    margin-top:20px ;
    width: 70%;
    border: 1px solid #ccc;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: right;
}


.login .container .right-section .login-box .input-box2 {
    padding: 7px;
    margin-top:2px;
    margin-bottom: 1rem;
    width: 70%;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: right;
}


.login .container .right-section .login-box .login-btn {
    background-color: var(--main-color);
    color: white;
    padding: 7px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    width: 70%;
    margin-top:2px;

}

.login .container .right-section .login-box .login-btn:hover{
    background-color: var(--secondary-color);
    transition: .5s linear;
}


.login .container .right-section .login-box .icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.login .container .right-section .login-box .icons img {
    width: 40px;
    margin-top: 1rem;
}
/* .register-link {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
} */
/***student & parent login section ends**/


/*****about page starts********/

.about .row {
    background-image: url(../images/back.png);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* تنسيق الصورة */
.about .row .image {
    flex: 0 0 40rem;
}

.about .row .image img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.about .row .content {
    flex: 0 0 50rem;
    text-align: right;
}

.about .row .content h3 {
    font-size: 2rem;
    color: var(--black);
    background-color: var(--white);
    width: 30%;
    padding: 0.5rem 1rem; /* اختصار لتحديد padding عمودي وأفقي */
    margin-left: auto;
    margin-bottom: 1rem;
}

.about .row .content p {
    line-height: 2;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: var(--white);
    direction: rtl;
    text-align: justify;
    margin-left: auto;
    margin-bottom: 7rem;
}


.titleWho h3 {
    font-size: 1.5rem;
    color: var(--main-color);
    text-align: right;
    margin: 2rem 4rem 0rem auto; 
}

.about .box-container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;  /* يسمح بتعدد الصفوف عند ضيق العرض */
}

.about .box-container .box {
    flex: 1 1 20rem; /* عرض مرن يبدأ من 250px */
    display: flex;
    justify-content: flex-end; /* كل العناصر لأقصى اليمين */
    align-items: center;
    gap: 0.5rem; /* مسافة صغيرة بين النص والصورة */
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 2.5rem 2.5rem 2.5rem;
}

.about .box-container .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.about .box-container .box div {
    text-align: right; /* النص داخل الـ div */
}

.about .box-container .box h3 {
    color: var(--main-color);
    font-size: 2rem;
    margin: 0 0 0.3rem; /* تعديل هامش بسيط */
}

.about .box-container .box p {
    font-size: 1.3rem;
    color: var(--light-color);
    margin: 0;
}

.about .box-container .box img {
    width: 5rem;
    height: auto;
    margin-left: 0; /* إزالة المسافة الإضافية */
}

/******about page ends*****/

/****** footer section starts ********/
.footer{
    position: sticky;
    bottom: 0; right: 0; left: 0;
    background-color: var(--white);
    border-top: var(--black);
    padding: 1rem 2rem;
    text-align: center;
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 1.5rem;
    z-index: 1000;

    height: 5rem;

}

.footer span{
    color: var(--main-color);
}

/****** footer section ends ********/

/******teacher & admin login page starts**/

.login-teacher{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/back.png') no-repeat center center;
    background-size: cover;
    height: 100%;
}

.login-teacher .form-container3{
    
    justify-content: center;  /* يضع المحتوى في المنتصف أفقيًا */
    align-items: center;
    background-color:var(--white);
    width: 45rem;
    height: 33rem;
    border-radius: 30px;
    padding: 30px;
    margin:auto

}

.login-teacher .form-container3 .form h3{
    color: var(--main-color);
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;

}

.login-teacher .form-container3 .form .input-box-teacher {
    padding: 7px;
    margin: 7px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: right;
    margin-top: 20px;
}

.login-teacher .form-container3 .form .input-box-teacher2 {
    padding: 7px;
    margin-top:2px;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: right;
}

.login-teacher .form-container3 .form .login-btn-teacher{

    background-color: var(--main-color);
    color: white;
    padding: 7px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top:2px;
}

.login-teacher .form-container3 .form .login-btn-teacher:hover{
  background-color: var(--secondary-color);
  transition: .5s linear;
}


.login-teacher .form-container3 .icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.login-teacher .form-container3 .icon.active-icon {
  opacity: 1;
  transform: scale(1.1);
}
.login-teacher .form-container3 .icons img {
    width: 40px;
    margin-top: 1rem;
}

.login-teacher .form-container3 .form {
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.login-teacher .form-container3 .form.active-form {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

/******teacher & admin login page ends**/


/*********this is actions icon in the tables starts***********/
.action-icon {
  margin: 0 6px;
  cursor: pointer;
  font-size: 13px;
  transition: transform 0.2s;
}

.action-icon:hover {
  transform: scale(1.2);
}

.delete-icon {
  color: var(--red);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.edit-icon {
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.std-icon{
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.question-icon{
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.eye-icon{
  color: var(--main-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

/*********this is actions icon in the tables ends***********/



/**********************************************************************/


/***start teacher dashboard**/

/******header dashboards teacher starts*******/

.header .flex .search-form{
    width: 40rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .5rem 2rem;
    background-color: var(--light-bg);
}

.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 1.5rem;
    text-align: right;
    color: var(--black);
}

.header .flex .search-form button{
    font-size: 1.8rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.header .flex .search-form button:hover{
    color: var(--main-color);
}

.header .flex .icons div{
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    height: 3.5rem;
    cursor: pointer;
    width: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 1rem;
}


#bell-btn {
    position: relative;
    font-size: 1.5rem;
    color: var(--black);
    margin-left: 1rem;
    cursor: pointer;
}

#bell-btn::after {
    content: "3"; /* عدد الإشعارات */
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--red);
    color: white;
    font-size: 0.8rem;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

#bell-btn:hover{
    background-color: var(--main-color);
    color: var(--white);
    transition: background-color .8s ease-in-out;
}

.header .flex .icons div:hover{
    background-color: var(--main-color);
    color: var(--white);
    transition: background-color .8s ease-in-out;
}

#search-btn{
    display: none;
}


.header .flex .profile{
    position: absolute;
    top: 120%; left: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    border-bottom: 3px solid var(--main-color);
    padding: 2rem;
    text-align: center;
    width: 24rem;
    transform: scale(0);
    transform-origin: top left;
    transition: .2s linear;

}

.header .flex .profile.active{
    transform: scale(1);
}

.header .flex .profile img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
  
}

.header .flex .profile h3{
    font-size: 1.7rem;
    color: var(--black);
}

.header .flex .profile span{
    color: var(--light-color);
    font-size: 1.5rem;
}

.flex-btn a{
    background-color: var(--main-color);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.flex-btn a:hover{
    background-color: var(--secondary-color);
    transition: .7s linear;
}

/******header dashboards teacher ends**********/


/******* Start Sidebar **********/

.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
  }

  .sidebar ul{
    list-style: none;
  }

  .sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
    display: flex;
    align-items: center; /* توسيط العناصر عموديًا */
    justify-content: flex-end; /* دفع العناصر إلى اليمين */
    transition: 0.3s;
    margin-bottom: 5px;
    color: var(--secondary-color);
    font-size: 1.7rem;
   
  }

  .sidebar ul li a:hover,
  .sidebar ul li a.active {
    background-color: rgba(88, 159, 67, 0.2);
  }
  .sidebar ul li a span {
    font-size: 14px;
    margin-right: 10px;
    
  }
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none; 
  position: absolute;
  top: 0;
  right: 100%; 
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  min-width: 160px;
}

.dropdown:hover .dropdown-menu {
  display: block; 
}

.dropdown-menu li {
  list-style: none;
}

.dropdown ul li a {
    padding: 5px 10px; 
    color: var(--secondary-color);
    font-size: 14px;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

.dropdown .arrow {
  margin-right: 8px;
  font-size: 14px;
}

.dropdown:hover .arrow {
  color: var(--main-color); 
}

  /********** End Sidebar **********8*/

/* start contenet teacher dashboard  */

#calendar{
  border-radius:.5rem ;
  background-color: var(--white);
  padding: 1.5rem;
  text-align: right;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .page .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
 
  .wrapper .welcome {
    overflow: hidden;
  }
  .wrapper .welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
  }
  .wrapper .welcome .avatar {
    width: 49px;
    height: 49px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 5px #ddd;
    margin-right: 20px;
    margin-top: -39px;
    float: right;
  }


  .tickets .box {
    border: 1px solid #ccc;
    width: calc(100% - 10px);
    height: 12rem;
    text-align: center;
    font-size: 1rem;
  }

/*  contenet teacher dashboard ends */
  
  /******** Tables design starts in teacher dashboard******/

  .projects h2{
    text-align: right;
    font-size: 2rem;
    color: var(--main-color);
    margin-right: 1rem;
    margin-bottom: 1rem;
    gap: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* ظل خفيف */
   
  }

   .projects .responsive-table {
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);

  }
  .projects table {
    min-width: 100%;
    border-spacing: 0;
    text-align: center;
    font-size: 1.3rem;
    
  }
  .projects thead td {
    background-color: rgba(88, 159, 67, 0.2);
    font-weight: bold;

  }
  .projects table td {
    padding: 10px;
  }
  .projects tbody td {
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
    transition: 0.3s;
  }
  
  .projects tbody tr:hover td {
    background-color: #faf7f7;
  }

/******* Tables design starts in teacher dashboard******/


/** start student page in teacher dashboard**/

  /* خلفية نصف شفافة */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* الخلفية */
}

/* محتوى المربع */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  width: 30%;
  color: #333;
  font-size: 1.2rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
  direction: rtl;
  border-top: 4px solid var(--main-color);
}

.model-content h3{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: var(--main-color);
  margin-bottom: 5px;
}

/* زر الإغلاق */
.close {
  color: #aaa;
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 10px;
  cursor: pointer;
}

.close:hover {
  color: var(--red);
}


.header_sections_teacher{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
  }

.header_sections_teacher .search-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: right;

}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin: 15px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination .active {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-color: var(--main-color);
}
  

/********ends student page in teacher dashboard***********/



 
  /* Start Box */
  .d-flex {
    display: flex;
  }
  .f-wrap {
    flex-wrap: wrap;
  }
  .align-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .d-grid {
    display: grid;
  }
  .gap-20 {
    gap: 20px;
  }
  .d-block {
    display: block;
  }
  @media (max-width: 767px) {
    .block-mobile {
      display: block;
    }
    .hide-mobile {
      display: none;
    }
  }
  /* End Box */
  /* Start Padding + Margin */
  .p-10 {
    padding: 10px;
  }
  .p-15 {
    padding: 15px;
  }
  .p-20 {
    padding: 20px;
  }
  .pt-10 {
    padding-top: 10px;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .pt-20 {
    padding-top: 20px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  .pb-15 {
    padding-bottom: 15px;
  }
  .pb-20 {
    padding-bottom: 20px;
  }
  .pl-15 {
    padding-left: 15px;
  }
  .m-0 {
    margin: 0;
    font-size: 2.1rem;
    color: var(--secondary-color);
    text-align: right;
  }
  .m-15 {
    margin: 15px;
  }
  .m-20 {
    margin: 20px;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mt-5 {
    margin-top: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-25 {
    margin-top: 25px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  /* End Padding + Margin */
  /* Start Color */
  .c-black {
    color: black;
  }
  .c-white {
    color: white;
  }
  .c-grey {
    color: var(--grey-color);
    font-size: 1.1rem;
    text-align: right;
  }
  .c-red {
    color: var(--red-color);
  }
  .c-green {
    color: var(--green-color);
  }
  .c-blue {
    color: var(--main-color);
    font-size: 2rem;
  }
  .c-orange {
    color: var(--main-color);
    font-size: 2rem;
  }
  .bg-red {
    background-color: var(--red-color);
  }
  .bg-green {
    background-color: var(--green-color);
  }
  .bg-blue {
    background-color: var(--blue-color);
  }
  .bg-orange {
    background-color: var(--orange-color);
  }
  .bg-white {
    background-color: white;
  }
  .bg-eee {
    background-color: rgba(88, 159, 67, 0.2); 
  }
  /* End Color */
  /* Start Position */
  .p-relative {
    position: relative;
  }
  .p-absolute {
    position: absolute;
  }
  /* End Position */
  /* Start Font */
  .txt-c {
    text-align: center;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-15 {
    font-size: 15px;
  }
  .fs-25 {
    font-size: 25px;
  }
  .fw-bold {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1rem;
    margin-top: 1.5rem;
    color: var(--secondary-color);
  }
  @media (max-width: 767px) {
    .txt-c-mobile {
      text-align: center;
    }
  }
  /* End Font */
  /* Start Border */
  .rad-6 {
    border-radius: 6px;
  }
  .rad-10 {
    border-radius: 10px;
  }
  .rad-half {
    border-radius: 50%;
  }
  .b-none {
    border: none;
  }
  .border-ccc {
    border: 1px solid #ccc;
  }
  .border-eee {
    border: 1px solid #eee;
  }
  
  /* End Border */
  /* Start Width + Height */
  .w-full {
    width: 100%;
  }
  .w-100 {
    width: 100px;
  }
  .w-fit {
    width: fit-content;
  }
  .h-full {
    height: 100%;
  }
  .h-100 {
    height: 100px;
  }
  /* End Width + Height */
  /* Start Components */
  .center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
  }
  /* End Components */












  /******** start admin dashboard ************/

.content-admin {
  background-color: rgba(88, 159, 67, 0.03) ;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px 20px 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  flex: 1 1 calc(25% - 20px);
  background-color: #ffffff;
  border-top: 3px solid var(--main-color);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease;
  position: relative;
  width: 23%;
  height: 10rem;
}

.card:hover {
  transform: translateY(-4px);
}

.card h2 {
  font-size: 18px;
  color: var(--main-color);
  font-weight: bold;
  margin-top: 12px;

}

.details-link {
  display: inline-block;
  font-size: 10px;
  color: var(--main-color);
  transition: background-color 0.3s ease;
  border-top: .1px solid rgba(88, 159, 67, 0.3) ;
  width: 100%;
  padding-top:3px;
  padding-right: 5px;
  margin-top: 12px;
}

.details-link:hover {
  color: var(--secondary-color);
}


.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border-top: 3px solid var(--main-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.green-btn {
  flex: 1;
  padding: 5px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.green-btn:hover {
  background-color: var(--secondary-color);
  transition: .8s linear;
}

.dashboard-wrapper { 
  display: flex; 
  justify-content: space-between; 
  gap: 20px; 
  padding: 20px;
 } 
 .welcome-box{
  flex: 1; 
  background-color: var(--white);
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 16rem;
  border-top: 3px solid var(--main-color);
 } 

 .chart-box {
  flex: 1; 
  background-color: var(--white);
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin: auto;
  border-top: 3px solid var(--main-color);
  
  }

 .welcome-text {
   flex: 1; 
   padding-right: 15px;
   } 
  .welcome-text h2 { 
    font-size: 18px;
    text-align: right;
    color: var(--main-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    } 
  .welcome-text p {
    font-size: 13px;
    color: rgba(7, 35, 64, 0.5);
    text-align: right;
    }

  .welcome-text a{
    display: inline-block;
    font-size: 10px;
    color: var(--main-color);
    transition: background-color 0.3s ease;
    border-top: .1px solid rgba(88, 159, 67, 0.3) ;
    width: 100%;
    padding-top:3px;
    padding-right: 5px;
    text-align: right;
    margin-top: 3rem;
  }

  .welcome-text a:hover{
    color: var(--secondary-color);
    transition: .8s linear;
  }
  .welcome-image img { 
    width: 170px; 
    border-radius: 10px; 
  }
  .chart-box h3 { 
    font-size: 18px;
    text-align: right;
    color: var(--main-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   }



   /******** start classroom page in admin dashboard *****/

  .admin{
    border-top: 3px solid var(--main-color);
   }

   .header_sections a{
    background-color: var(--main-color);
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    color: var(--white);
    font-size: 12px;

   }

   .header_sections a:hover{
    background-color: var(--secondary-color);
    transition: .8s linear;
   }
   

   /******** end classroom page in admin dashboard*********/
         


/*** end admin dashboard ***/



  